$fontSize: 16px;
$grey: #e5e5e5;
$white: #fff;
$appHeight: 87vh;
$breakpoint: 40.625em;
$borderRadius: 0.5rem;
$marginTop: 3rem;
$accordionHeader: #d1ebff;
$listStyleType: "circle";
$smallFont: 12px;
